/* My portfolio*/
.Me {
  width: 175px;
  border-radius: 7px;
  margin-right: auto;
  border: 2px solid#ffffff;
}


.my-card {
  border: 1.5px solid rgb(255, 255, 255);
  padding: 30px;
  background-color: rgb(117, 0, 0);
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-around;
  
  margin-right: auto;
  width:500px;


}



.italic {
  font-style: italic;
}

.margin{
    text-align-last: center;
}